.component_border {
    border : 2px solid black;
    padding: 10px;
    background-color: rgb(237, 156, 240);
    margin-top: 1%;
    width : 20%;
    display: inline-flex;
    height: 60vh;
   align-items: center;

}